<app-header></app-header>
<div class="container">
    <form id="form" [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Tên sản phẩm:</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Giá sản phẩm:</label>
        <input type="number" class="form-control" formControlName="price" />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Mô tả sản phẩm:</label>
        <input type="text" class="form-control" formControlName="desc" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid" >Update</button>
    </form>
  </div>
  

